<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="Code" value="max01" />
        <add key="Server" value="ws://47.101.178.160:8083/mqtt" />
        <add key="MqttUser" value="admin" />
        <add key="MqttPassword" value="public" />
        <add key="HeartBeatSecond" value="10" />
        <add key="MaterialPath" value="./materials" />
    </appSettings>
</configuration>