<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="Code" value="5D:5C:15:8D" />
        <add key="Server" value="ws://47.101.178.160:8083/mqtt" />
        <add key="MqttUser" value="admin" />
        <add key="MqttPassword" value="public" />
        <add key="HeartBeatSecond" value="10" />
        <add key="MaterialPath" value="./materials" />
        <add key="Config" value="{&quot;Code&quot;:&quot;5D:5C:15:8D&quot;,&quot;Server&quot;:&quot;ws://47.101.178.160:8083/mqtt&quot;,&quot;MqttUser&quot;:&quot;admin&quot;,&quot;MqttPassword&quot;:&quot;public&quot;,&quot;HeartBeatSecond&quot;:10,&quot;MaterialPath&quot;:&quot;./materials&quot;,&quot;DelayedUpdate&quot;:true}" />
    </appSettings>
</configuration>